<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
</head>
<body>

<div id="map"></div>

<%= include_gon %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      //center the map on 'MERICA!
      center: {lat: 41.850033, lng: -87.6500523}
    });

    setMarkers(map);
  }

  //set the players variable (list of player json objects)
  var players = gon.players;

  //iterate through players, and create a marker for each one
  function setMarkers(map) {
    $.each(gon.players, function( index, playerDoc ) {
      var marker = new google.maps.Marker({
        //set the markers geocode positions
        position: {lat: playerDoc["lat"], lng: playerDoc["lng"]},
        map: map
        //icon: image,
        //shape: shape
      });
    });
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA95tfmyKCLZU0mnu5s-EWdQEULQ8BvhSY&callback=initMap">
</script>